
.reveal-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    padding-bottom: 9px; 
  }
  
  .reveal-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0); 
    animation: curtainAnimation 1s forwards ease;
    animation-delay: var(--delay, 0s);
  }
  @keyframes curtainAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  .flap-reveal {
    display: inline-block;
    transform-origin: bottom;
    animation: flapReveal 1s forwards ease-out;
    animation-delay: var(--delay, 0s);
  }
  
  @keyframes flapReveal {
    0% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  